body{
    background-size:cover;
    background-position: center;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

canvas {
    box-shadow: 5px 5px 5px grey;
    border-radius: 20px;
}

a {
    background-color:linear-gradient( lavenderblush 50%, lavender 50%);
    width: 400px;
    color: navy;
    font-size: 23px;
    border-radius: 28px;
    border-color: navy;
}

